extends ../_layout/layout

block variables
	- var title = 'Timeline'
	- var description = 'Description for home page'
	- var bodyclass = 'timeline-page'
	- var selected = 'Timeline';
	- var href = '';

block body
	section.home
		.container
			.row
				.col
