extends ../_layout/layout

block variables
	- var title = 'Typography'
	- var description = 'Description for home page'
	- var bodyclass = 'typography-page'
	- var selected = 'Typography';
	- var href = '';

block body
	section.home
		.container
			.row
				.col
					.jumbotron
						h1=config.title
						p=config.SEO.cfg_description
						p=_data.config.CON.version
						p=_data.info.SET.name
					p 現在、グループ会社のフリースタイルコーポレーションでは認可保育園「リトルハッピー」に かよう子供たちとデイサービスのおじいちゃんおばあちゃんたちが一緒になって交流できる場を設けています。 アライではさらにそれ発展させ、障がいを持ったお子様もみんなと交流できる環境を作っていき、 地域全体で子育て支援ができる環境づくりを目指しています。
					p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد
					p อยู่ยงคงกระพันมาไม่ใช่แค่เพียงห้าศตวร แต่อยู่มาจนถึงยุคที่พลิกโฉมเข้าสู่งานเรียงพิมพ์ด้วยวิธีทางอิเล็กทรอนิกส์ และยังคงสภาพเดิมไว้อย่างไม่มีการเปลี่ยนแปลง มันได้รับความนิยมมากขึ้นในยุค ค.ศ.
					p Khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo thành một bản mẫu văn bản. Đoạn văn bản này không những đã tồn tại năm thế kỉ, mà khi được áp dụng vào tin học văn phòng, nội dung của nó vẫn không hề bị thay đổi.
					p И не само што овој модел опстанал пет векови туку почнал да се користи и во електронските медиуми, кој се уште не е променет. Се популаризирал во 60-тите години на дваесеттиот век со издавањето на збирка од страни во кои се наоѓале Lorem Ipsum пасуси, а денес во софтверскиот пакет како што е Aldus PageMaker во кој се наоѓа верзија на Lorem Ipsum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est magnam consectetur inventore nisi repudiandae, omnis quidem perspiciatis dolor aperiam nulla provident et aspernatur accusantium! Sequi ipsam aliquid earum impedit!
					hr
					code .text-shadown.text-danger
					h1.text-shadown.text-danger 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					code h1
					h1 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					code h2
					h2 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					code h3
					h3 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					code h4
					h4 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					code h5
					h5 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					code h6
					h6 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
					hr
					.row
						.col-sm-6
							dl.row
								dt.col-sm-3
									code .text-xs
								dd.col-sm-9
									.text-xs 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-sm
								dd.col-sm-9
									.text-sm 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-md
								dd.col-sm-9
									.text-md 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-lg
								dd.col-sm-9
									.text-lg 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-xl
								dd.col-sm-9
									.text-xl 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-xxl
								dd.col-sm-9
									.text-xxl 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
						.col-sm-6
							dl.row
								dt.col-sm-3
									code .text-xs
								dd.col-sm-9
									.text-bold.text-xs 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-sm
								dd.col-sm-9
									.text-bold.text-sm 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-md
								dd.col-sm-9
									.text-bold.text-md 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-lg
								dd.col-sm-9
									.text-bold.text-lg 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-xl
								dd.col-sm-9
									.text-bold.text-xl 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
							dl.row
								dt.col-sm-3
									code .text-xxl
								dd.col-sm-9
									.text-bold.text-xxl 現在、グループ会社 ا- للأحرف Khi một họa sĩ И не само што ipsum dolor sit amet
