extends _layout/layout

block variables
	- var title = 'Company | 4xLabs - Innovation in foreign exchange'
	- var description = '4xLabs is a fintech start-up headquartered in Singapore. The company develops cloud-based services addressing the needs of all players in the often overlooked cash exchange market. '
	- var bodyclass = 'company'
	- var selected = 'About';
	- var href = '//4xlabs.co/company';

block body
	p Company 
