extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'index-page'
	- var selected = 'Home';
	- var href = '';

block body
	section.home
		.container
			.row
				.col
					h1=config.title
					p=config.SEO.cfg_description
					p=_data.config.CON.version
					p=_data.info.SET.name
