extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var selected = 'Home';
	- var href = '';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)

block og
	meta(property="og:image", content='//'+config.SEO.cfg_url+'/home/demo.jpg')

block body
	section.home
		.container
			.row
				.col.p-4
					.jumbotron.text-center 
						h1.hidden-md-up.display-4 Awesome Bootstrap Sites!
						h1.hidden-sm-down.display-1 Awesome Bootstrap Sites!
						h2.hidden-md-up Dễ dàng triển khai và sử dụng
						h2.hidden-sm-down.display-4 Dễ dàng triển khai và sử dụng
						p.lead Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap.

					hr
					h5 Tính năng tương lai
					ul.list-unstyled
						li - Tích hợp i18n cho web site đa ngôn ngữ
						li - Tích hợp Material
						li - Tích hợp Font Ionicon
					p Xem tài liệu hướng dẫn cài đặt và sử dụng 
						a(href="api/setup.html") tại đây
