extends _layout/layout

block variables
	- var title = '4xLabs - Innovation in foreign exchange'
	- var description = '4xLabs is a forward thinking technology company that is bringing efficiency and transparency to the foreign exchange market.'
	- var bodyclass = 'index'
	- var selected = 'Home';
	- var href = '//4xlabs.co/index';

block body
	section.slider(bg-img-responsive="https://4xlabs.co/images/bg/home.jpg", bg-img-responsive-sm="https://4xlabs.co/images/bg/home-sm.jpg", bg-img-responsive-xs="https://4xlabs.co/images/bg/home-xs.jpg")
		.info
			.container
				.row
					.col-sm-12
						h1 INNOVATION
							span  IN FOREIGN EXCHANGE
						p Bringing price transparency to the millions of people and businesses exchanging currencies globally.

	


	section.clients
		.container
			.row.mrt-xs-3r
				.col-sm-12.xs-center.md-left
					h2.text-xs-center.mrb-xs-2r FEATURED ON
					.mrt-2r.mrb-xs-3r
						.owl-carousel.owl-theme
							.item
								a(href='https://www.techinasia.com/get4x-exchange-rate-app', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/techinasia-logo-200x100.jpg', alt='')
							.item
								a(href='http://www.straitstimes.com/business/start-singapore-online-media-platform-for-experts', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/thestratistimes-logo-200x100.jpg', alt='')
							.item
								a(href='http://www.dealstreetasia.com/stories/singapores-tech-startup-4xlabs-expands-launches-forex-comparison-app-three-asian-cities-38364', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/dealstreetasia-logo-200x100.jpg', alt='')
							.item
								a(href='https://e27.co/currency-exchange-rate-aggregator-get4x-launches-in-bangkok-mumbai-and-thailand-20160419/', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/e27-logo-200x100.jpg', alt='')
							.item
								a(href='http://archive1.rthk.hk/mp3/radio/archive/radio3/money_talk/mp3/20160429.mp3', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/rthk-radio-logo-200x100.jpg', alt='')
							.item
								a(href='http://sbr.com.sg/financial-services/exclusive/find-cheapest-forex-rates-in-real-time-new-mobile-app', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/business-singapore-preview-logo-200x100.jpg', alt='')
							.item
								a(href='http://www.scmp.com/tech/start-ups/article/1941412/o2o-money-changer-app-get4x-aims-ease-hongkongers-currency-exchange', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/south-china-morning-post-logo-200x100.jpg', alt='')
							.item
								a(href='http://tabi-labo.com/261394/get4x/', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/tabi-labo-preview-logo-200x100.jpg', alt='')
							.item
								a(href='https://www.whub.io/posts/4xlabs-solving-a-real-life-pain-from-travel-experience-to-a-business-idea', target='_blank')
									img.gray_to_def(src='https://4xlabs.co/images/whub-logo_200x100-200x100.png', alt='')


