extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'index'
	- var selected = 'Home';
	- var href = '';

block body
	p Home page
