extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var selected = 'Home';
	- var href = '';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)

block og
	meta(property="og:image", content='//'+config.SEO.cfg_url+'/images/logo.png')

block body
	section.home
		.container
			.row
				.col.p-4
					.jumbotron.text-center
						h1.hidden-md-up.display-4 Awesome Bootstrap Sites!
						h2.hidden-md-up Dễ dàng triển khai và sử dụng
						p.lead Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap.

					hr

					p Xem tài liệu hướng dẫn cài đặt và sử dụng 
						a(href="api/setup.html") tại đây
