extends _layout/layout

block variables
	- var title = 'Team | 4xLabs - Innovation in foreign exchange'
	- var description = 'The success of 4xLabs is directly attributable to the passion, hard work and dedication of our diverse and international team. Over the last few years, we have grown from strength to strength, building on our core competencies, and varied experiences from different cultures and countries to launch the leading operating system for money changers in the region.'
	- var bodyclass = 'team'
	- var selected = 'About';
	- var href = '//4xlabs.co/team';


block body
	p Team 