div(layout='row', layout-xs='column')
  div(flex="50", flex-xs="100")
    | I'm above on mobile, and to the left on larger devices.
  div(flex="50", flex-xs="100")
    | I'm below on mobile, and to the right on larger devices.