div(ng-controller="HomeController")
	section.index-slider(layout='row', layout-padding, layout-align='center center')
		div.text-xs-center(flex-gt-sm="60" flex-xs="100", layout='column', layout-align='center center')
			h2.md-display-1.mrt-xs-2r Find Out Why Biz4x is Used By Money Changers All Around The World
			h3.md-headline.mrt-xs-2r.color-blue-900 Biz4x helps you to manage your entire business operation. 
			div(layout='row', layout-align='center center')
				div(flex-gt-sm="60", flex-xs="100", layout='column')
					h4.md-subhead.mrt-xs-2r Get real-time FX rates, perform Know Your Customer checks and gain new customers today.
			md-button.mrt-xs-2r.mrb-xs-2r.md-button-md.md-button-shadow.md-button-link(aria-label="{{ 'Page.Try' | translate }} ", ui-sref="try", ui-sref-active="active") Try it free for 7 days

	section.index-choose(layout-align='center center', layout="row")
		div.choose-item(flex, flex-gt-sm="60", layout-align='center top', layout="column", layout-gt-xs="row")
			.item.text-md-center(flex="33", flex-xs="100") 
				i.material-icons slow_motion_video
				h3 Live FX Rates 
			.item.text-md-center(flex="33", flex-xs="100") 
				i.material-icons developer_board
				h3 Risk Management
			.item.text-md-center(flex="33", flex-xs="100") 
				i.material-icons add_shopping_cart
				h3 Customer Booking 

	section.index-why(layout-align='center center', layout="row")
		div(flex, flex-gt-sm="80")
			div.why-item.text-xs-center(layout="column")
				h4.md-display-1.color-blue-900 What is Biz4x?
				p.lead Biz4x is the only solution you need to effectively manage your money changer business. 
			div.why-item.text-xs-center(layout="column", layout-gt-xs="row")
				.item(flex="33", flex-xs="100")
					i.material-icons slow_motion_video
					h5.md-subhead Better Business Visibility
					p Gain deep insights about your business and automate processes to save time and money.
				.item(flex="33", flex-xs="100")
					i.material-icons developer_board
					h5.md-subhead Safeguard Your Livelihood
					p Conveniently report any suspicious transactions that are flagged through our compliance checks.
				.item(flex="33", flex-xs="100")
					i.material-icons add_shopping_cart
					h5.md-subhead Grow Your Business
					p Get featured among our money changer community and gain access to new customers through our network of travellers.
					
	section.index-news(layout-align='center center', layout="row", layout-padding)
		div.news-item(flex, flex-gt-sm="80", layout-align='center top', layout="column", layout-gt-xs="row")
			div(flex="50", flex-xs="100")
				h3.md-display-1 Get Real-Time
					br
					| FX Rates Instantly
				hr
				p Gain access to real-time FX rates so you'll always have the latest market data and charts to make key business decisions for maximising profit.
				ul 
					li Track real-time rates and charts on all global currency pairs 
					li Automate precise price setting of up to six decimal places to to maintain a consistent profit margin
					li View historical and predictive market data 
				md-button.md-raised.md-primary.no-marrgin.no-shadow(aria-label="{{ 'Page.Pricing' | translate }} ", ui-sref="price", ui-sref-active="active") {{ 'Page.Pricing' | translate }} 
			div(flex="50", flex-xs="100")
				p ... 
					
	section.index-news2(layout-align='center center', layout="row", layout-padding)
		div.news-item(flex, flex-gt-sm="80", layout-align='center top', layout="column", layout-gt-xs="row")
			div(flex="50", flex-xs="100")
				p ... 
			div(flex="50", flex-xs="100")
				h3.md-display-1 Run Background Checks 
					br
					| on Customers Instantly
				hr
				p Verify that potential customers are not on any sanction or PEP lists with our risk and compliance software before completing high value transactions.
				ul 
					li Search through one of the world's most comprehensive databases with more than 2.7 million results
					li Run exact match searches filtering results by date of birth and passport number
					li Refer to records on historical searches dating back to one year
				md-button.md-raised.no-marrgin.no-shadow(aria-label="{{ 'Page.Pricing' | translate }} ", ui-sref="price", ui-sref-active="active") {{ 'Page.Pricing' | translate }} 

	section.index-news3(layout-align='center center', layout="row", layout-padding)
		div.news-item(flex, flex-gt-sm="80", layout-align='center top', layout="column", layout-gt-xs="row")
			div(flex="50", flex-xs="100")
				h3.md-display-1 Run Background Checks 
					br
					| on Customers Instantly
				hr
				p Verify that potential customers are not on any sanction or PEP lists with our risk and compliance software before completing high value transactions.
				ul 
					li Search through one of the world's most comprehensive databases with more than 2.7 million results
					li Run exact match searches filtering results by date of birth and passport number
					li Refer to records on historical searches dating back to one year
				md-button.md-raised.no-marrgin.no-shadow(aria-label="{{ 'Page.Pricing' | translate }} ", ui-sref="price", ui-sref-active="active") {{ 'Page.Pricing' | translate }} 
			div(flex="50", flex-xs="100")
				p ... 

					
	section.index-started(layout='row', layout-padding, layout-align='center center')
		div.text-xs-center(flex-gt-sm="60" flex-xs="100", layout='column', layout-align='center center')
			h2.md-display-1.mrt-xs-2r Join hundreds of businesses using the leading money changer software today.
			md-button.mrt-xs-2r.mrb-xs-2r.md-button-md.md-button-shadow.md-button-link(aria-label="{{ 'Page.Try' | translate }} ", ui-sref="try", ui-sref-active="active") Get started for free 

					