+font-face('CenturyGothic', "../fonts/", "CenturyGothic")

html, body
	// font-family: 'CenturyGothic'
	background-color: color-get($mau,bg)
	font-size: 14px
	height: 100%
	width: 100%
	+selection
		background-color: color-get($mau,main)
		color: #fff
	+media-breakpoint-down(md)
		.container
			width: 100%
	&.offcanvas-stop-scrolling
		&:before
			display: block
			height: 100%
			width: 100%
			content: ''
			+pos(abs, 0 0 null null)
			background: rgba(0,0,0,.5)
			z-index: 90

.text-xs
	+fz(.8rem)
.text-sm
	+fz(.9rem)
.text-md
	+fz(1.2rem)
.text-lg
	+fz(1.4rem)
.text-xl
	+fz(1.8rem)
.text-xxl
	+fz(2.2rem)
.text-shadown
	+text-sha(#{1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd})

.text-bold
	+fw(bold)
.text-400
	+fw(400)
.text-500
	+fw(500)
.text-600
	+fw(600)
.text-700
	+fw(700)

.ishover
	&:hover
		+opacity(.5)

@-moz-document url-prefix()
  fieldset
		display: table-cell

.get-responsive
	min-height: .01%
	overflow-x: auto

// Get text colors
@each $value in $mau
	$key: nth($value, 1);
	$val: nth($value, 2);
	.text-#{$key}
		color: #{$val}
// Get background colors
@each $value in $mau
	$key: nth($value, 1);
	$val: nth($value, 2);
	.bg-#{$key}
		background-color: #{$val}

.btn-double
	border: 2px solid white
	+box-sha(0 0 0 1px #c2c2c2)
