// Trên dưới
// .align-self-center: Cân bằng theo inline-block
// .align-items-center: Cân bằng theo inline-block
// Trái Phải
// .justify-content-center
// .justify-content-md-center

html, body
	// font-family: "Roboto"
	background-color: color-get($colors,bg)
	font-size: 14px
	height: 100%
	width: 100%
	+selection
		background-color: color-get($colors,main)
		color: #fff
	+media-breakpoint-down(md)
		.container
			width: 100%
		main
			margin-top: 3.5rem

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-weight: 400

.flex
	display: flex

.text-xs
	+fz(.8rem)
.text-sm
	+fz(.9rem)
.text-md
	+fz(1.2rem)
.text-lg
	+fz(1.4rem)
.text-xl
	+fz(1.8rem)
.text-xxl
	+fz(2.2rem)

.ishover
	&:hover
		+opacity(.5)

.text-white
	color: color-get($colors, white)
.text-green
	color: color-get($colors, success)
.text-pink
	color: color-get($colors, alizarin)
.text-pink-2
	color: color-get($colors, c1)
.text-blue
	color: color-get($colors, c2)
.text-cyan
	color: color-get($colors, c3)

.bg-green
	background-color: color-get($colors, success)
.bg-pink
	background-color: color-get($colors, alizarin)
.bg-pink-2
	background-color: color-get($colors, c1)
.bg-news
	background-color: color-get($colors, c4)
.bg-event
	background-color: color-get($colors, c5)
.bg-commute
	background-color: color-get($colors, c2)

@-moz-document url-prefix()
  fieldset
		display: table-cell

.get-responsive
	min-height: .01%
	overflow-x: auto
