extends ../_layout/layout

block variables
	- var title = 'Get4x, an App for Comparing Cash Exchange Rates, Doubles Presence in Regional Cities | 4xLabs - Innovation in foreign exchange'
	- var description = 'Getting the best foreign exchange rates while travelling has never never been easier. 4xLabs today announced that it is launching its Get4x service in 4 new cities: Bali, Kuala Lumpur, Pattaya and Phuket, in its quest to bring more price transparency to the foreign exchange market.'
	- var bodyclass = 'press press-details'
	- var selected = 'Press';
	- var href = '//4xlabs.co/press/pattaya-phuket';


block body
	section.slider(bg-img-responsive="https://4xlabs.co/images/bg/press.jpg", bg-img-responsive-sm="https://4xlabs.co/images/bg/press-sm.jpg", bg-img-responsive-xs="https://4xlabs.co/images/bg/press-xs.jpg")
		.info
			.container
				.row
					.col-sm-12
						h1 GET4X, AN APP FOR COMPARING CASH EXCHANGE RATES, DOUBLES PRESENCE IN REGIONAL CITIES
						p Launches in Bali, Kuala Lumpur, Pattaya and Phuket

	section.infomation
		.container
			.row
				.col-md-12
					h4.media-heading.text-main SINGAPORE
					p.text-muted 28 JUNE 2016
					p Getting the best foreign exchange rates while travelling has never never been easier. 4xLabs today announced that it is launching its Get4x service in 4 new cities: Bali, Kuala Lumpur, Pattaya and Phuket, in its quest to bring more price transparency to the foreign exchange market.

					p Get4x is a location-based application that can be used to search for the best cash exchange rates offered by money changers in various Asian cities. It is useful for travellers who want to save on conversion, as it tells them where the closest money changers with the best rates are. Currently, most currency conversion apps only display interbank rates, which are the exchange rates used by financial institutions. Get4x is different as it shows cash exchange rates that are actually being offered by the money changers in these Asian cities. Often these rates can be far better than those offered at banks and airports, with users being able to save as much as 10% of the amount exchanged when they get a good rate.

					p
						img.img-thumbnail(src="https://4xlabs.co/images/file.f6.png", alt="", style="max-width:300px")
						//- | 
						//- img.img-thumbnail(src="https://4xlabs.co/images/file.f6.png", alt="", style="max-width:300px")

					p
						| The above announcement marks the second phase of its global expansion for 4xLabs. Earlier this year, 4xLabs had ventured outside the shores of Singapore by expanding its service to Bangkok, Hong Kong and Mumbai. Bolstered by its success in these markets, it is now adding new cities in Thailand to the list, as well as entering Malaysia and Indonesia for the first time, bringing the total number of cities in which it is now present to eight.
					p
						| “We’ve constantly been getting requests from our users for Get4x to be available in more cities. We see a lot of travel between Malaysia, Singapore and the rest of the region, so it made sense to get Kuala Lumpur on the list sooner rather than later. In fact, a survey earlier this year by 
						a(href='http://www.cnbc.com/2016/01/27/thailand-is-asia-pacifics-most-popular-tourist-destination-says-mastercard.html') Mastercard
						|  showed that Kuala Lumpur is the fourth most popular city for travel in the region with 11.3 million overnight visitors,” said Julien Labruyere, founder and CEO of 4xLabs.
					p
						| That same survey ranked Bangkok as the most popular destination for international travellers with 21.9 million overnight visitors, a figure almost double that of Singapore who came in second place with 11.8 million visitors. Phuket (9.3 million), Pattaya (8.1 million) and Bali (7.2 million) also made the top 10 ranking at places 5, 8 and 9 respectively.
					p
						| Aside from Get4x, 4xLabs also develops a SaaS platform for money changers called Biz4x to better manage their business operations, providing them with features such as a compliance service, live FX rates and the ability to list their exchange rates on the Get4x app. In Singapore 30% of money changers are already on a paid Biz4x subscription.
					p
						| Get4x is available for download immediately on the 
						a(href='https://itunes.apple.com/sg/app/local-currency-converter/id549456951?mt=8', target='_blank') Apple App Store
						|  and the 
						a(href='https://play.google.com/store/apps/details?id=com.get4x&hl=en', target='_blank') Google Play Store
						| .
					hr
					h3 About 4xLabs
					p
						| 4xLabs is a forward thinking technology company that is bringing efficiency and transparency to the foreign exchange market. We build web tools and mobile apps for travelers and provide APIs and software platforms for money changers. 4xLabs is a fast ­growing start-up that is headquartered in Singapore, with additional offices in Hong Kong, India (Bangalore and Mumbai), Thailand (Bangkok), and Vietnam (Ho Chi Minh). For more information, visit 
						a(href='https://4xlabs.co', target='_blank') 4xlabs.co
						| .
					hr
					h3 About Get4x
					p
						| Get4x is a location-based currency exchange discovery app that provides a comparison of the best exchange rates from licensed money changers in Bangkok, Hong Kong, Mumbai and Singapore. For more information, visit 
						a(href='https://get4x.com', target='_blank') get4x.com
						| .
					//- hr
					//- h4.text-main  Download Hi-Res Images
					//- h4.text-main
					//- 	a.btn.btn-primary(href='/files/get4x-pictures.zip') Press pictures
					//- 	| 
					//- 	| – 12 MB
