extends ../_layout/layout

block variables
	- var title = 'contact'
	- var description = 'Description for contact'
	- var selected = 'contact';
	- var bodyclass = 'contact'
	- var href = '/contact';

block body
	p Contact
