
- var menu = [{'Name':'Home', 'URL':'/index.html', 'Icon':'home_icon.png'}, {'Name':'Samples', 'URL':'/sample', 'Icon':'sample_icon.png'}, {'Name':'API', 'URL': [{'Name':'Documents', 'URL':'/api/documents.html', 'Icon':'documents_icon.png'}, {'Name':'User', 'URL':'/api/use.html', 'Icon':'use_icon.png'}, {'Name':'Typography', 'URL':'/api/typography.html', 'Icon':'typography_icon.png'}], 'Icon':'api_icon.png'}];

- var footermenu = [{'Name':'Home', 'URL':'/index.html', 'Icon':'fa fa-home'}, {'Name':'Samples', 'URL':'/sample', 'Icon':'fa fa-home'}];

- var footermenu2 = [{'Name':'API', 'URL': [{'Name':'Typography', 'URL':'/api/typography.html', 'Icon':'fa fa-home'}, {'Name':'Documents', 'URL':'/api/documents.html', 'Icon':'fa fa-home'}], 'Icon':'fa fa-home'}];

- var footersocial = [{'Name':'Linkedin', 'URL':'https://www.linkedin.com/baonguyenyam', 'Icon':'fa fa-linkedin'},{'Name':'Facebook', 'URL':'https://www.facebook.com/baonguyenyam', 'Icon':'fa fa-facebook'},{'Name':'Twitter', 'URL':'https://www.twitter.com/baonguyenyam', 'Icon':'fa fa-twitter'},{'Name':'Google', 'URL':'https://www.google.com/+baonguyenyam', 'Icon':'fa fa-google'}];
