
- var menu = [{'Name':'Home', 'URL':'/index.html', 'Icon':'home_icon.png'}, {'Name':'Contact', 'URL':'/contact', 'Icon':'contact_icon.png'}, {'Name':'About', 'URL': [{'Name':'Typography', 'URL':'/about/typography.html', 'Icon':'typography_icon.png'}, {'Name':'Timeline', 'URL':'/about/timeline.html', 'Icon':'timeline_icon.png'}], 'Icon':'about_icon.png'}];

- var footermenu = [{'Name':'Home', 'URL':'/index.html', 'Icon':'fa fa-home'}, {'Name':'Contact', 'URL':'/contact', 'Icon':'fa fa-home'}];

- var footermenu2 = [{'Name':'About', 'URL': [{'Name':'Typography', 'URL':'/about/typography.html', 'Icon':'fa fa-home'}, {'Name':'Timeline', 'URL':'/about/timeline.html', 'Icon':'fa fa-home'}], 'Icon':'fa fa-home'}];

- var footersocial = [{'Name':'Linkedin', 'URL':'https://www.linkedin.com/baonguyenyam', 'Icon':'fa fa-linkedin'},{'Name':'Facebook', 'URL':'https://www.facebook.com/baonguyenyam', 'Icon':'fa fa-facebook'},{'Name':'Twitter', 'URL':'https://www.twitter.com/baonguyenyam', 'Icon':'fa fa-twitter'},{'Name':'Google', 'URL':'https://www.google.com/+baonguyenyam', 'Icon':'fa fa-google'}];
