footer.footer
	.container
		.row.topfoot
			.col-md-12.linkfooter.text-xs-center.text-md-left
				.row
					.col-sm-6.col-md-3
						nav.list-group
							a.list-group-item(href='company.html') Company
							a.list-group-item(href='team.html') Team
							a.list-group-item(href='press.html') Press
					.col-sm-6.col-md-3
						nav.list-group
							a.list-group-item(href='careers.html') Careers
							a.list-group-item(href='contact.html') Contact
					.col-sm-6.col-md-3
						nav.list-group
							a.list-group-item(href='/en/feedback') Feedback
							a.list-group-item(href='/en/how-it-works') How it works
							a.list-group-item(href='/en/help') Help & Support
					.col-sm-12.col-md-3.socials.text-xs-center.text-md-right
						p Explore by Bao Nguyen
						ul.list-inline
							li.list-inline-item.hvr-bounce-in
								a(href='https://www.linkedin.com/company/4xlabs', target='_blank')
									i.fa.fa-linkedin(ga-action-click='', data-value='Social linkedin icon', data-label='Social linkedin icon', data-action='Social linkedin icon')
							li.list-inline-item.hvr-bounce-in
								a(href='https://www.facebook.com/4xLabs/', target='_blank')
									i.fa.fa-facebook(ga-action-click='', data-value='Social facebook icon', data-label='Social facebook icon', data-action='Social facebook icon')
							li.list-inline-item.hvr-bounce-in
								a(href='https://twitter.com/4xlabs', target='_blank')
									i.fa.fa-twitter(ga-action-click='', data-value='Social twitter icon', data-label='Social twitter icon', data-action='Social twitter icon')
							li.list-inline-item.hvr-bounce-in
								a(href='https://plus.google.com/+4xlabs', target='_blank')
									i.fa.fa-google(ga-action-click='', data-value='Social google icon', data-label='Social google icon', data-action='Social google icon')
	.container-fluid.copyright
		.row.text-xs-center 
			p Copyright 2016 by 
				a(href='http://www.4xlabs.co/') 4xLabs.
