footer.footer
	.container
		.row
			.col.text-xs-center.text-md-left.linkfooter
				.row
					.col-sm-6.col-md-4
						nav.list-group
							a.list-group-item(href='#') Company
							a.list-group-item(href='#') Team
							a.list-group-item(href='#') Press
					.col-sm-6.col-md-4
						nav.list-group
							a.list-group-item(href='#') Products
							a.list-group-item(href='#') Careers
							a.list-group-item(href='#') Contact
					.col-sm-12.col-md-4.text-xs-center.text-md-right
						.socials
							p Explore by Bao Nguyen
							ul.list-inline
								li.list-inline-item
									a(href='https://www.linkedin.com/company/baonguyenyam', target='_blank')
										i.fa.fa-linkedin(ga-action-click='', data-value='Social linkedin icon', data-label='Social linkedin icon', data-action='Social linkedin icon')
								li.list-inline-item
									a(href='https://www.facebook.com/baonguyenyam/', target='_blank')
										i.fa.fa-facebook(ga-action-click='', data-value='Social facebook icon', data-label='Social facebook icon', data-action='Social facebook icon')
								li.list-inline-item
									a(href='https://twitter.com/baonguyenyam', target='_blank')
										i.fa.fa-twitter(ga-action-click='', data-value='Social twitter icon', data-label='Social twitter icon', data-action='Social twitter icon')
								li.list-inline-item
									a(href='https://plus.google.com/+baonguyenyam', target='_blank')
										i.fa.fa-google(ga-action-click='', data-value='Social google icon', data-label='Social google icon', data-action='Social google icon')
	.container-fluid
		.row
			.col.copyright.text-xs-center
				p.mrb-xs-0 Copyright 2017 by
					a(href='/') baonguyenyam.
