extends ../_layout/layout

block variables
	- var title = 'Changelog'
	- var description = 'Description for home page'
	- var bodyclass = 'documents'
	- var selected = 'Changelog';
	- var href = '';

block body
	section.home
		.container

			.row
				.col.p-4

					h1.mt-6#sec1 Changelog
					hr
					h5.text-danger v3.0.3
					dl.row.mt-3
						dt.col-sm-3 Mega menu
						dd.col-sm-9 Tích hợp mega menu, tính năng cho phép hiển thụ menu dropdown full-width màn hình
					dl.row.mt-3
						dt.col-sm-3 Công cụ Dev tools
						dd.col-sm-9 Công cụ cho phép người dùng bật/tắt lưới khi thiết kế
					dl.row.mt-3
						dt.col-sm-3 Fixed Header
						dd.col-sm-9 Cho phép người dùng bật/tắt tính năng giữ header luôn nổi khi cuộn trang
					hr
					h5.text-danger v3.0.2
					dl.row.mt-3
						dt.col-sm-3 Fixed Footer
						dd.col-sm-9 Tính năng luôn đặt Footer sát dưới trang khi nội dung trang quá ngắn
					dl.row.mt-3
						dt.col-sm-3 K-Gmaps
						dd.col-sm-9 Hiển thị bản đồ Google Map với Icon và Infowindow
					dl.row.mt-3
						dt.col-sm-3 Responsive Image
						dd.col-sm-9 Tự động thay đổi ảnh theo thiết bị, nhằm giảm tải những ảnh quá lớn khi sử dụng mobile
					dl.row.mt-3
						dt.col-sm-3 Offcanvas
						dd.col-sm-9 Hiển thị menu theo dạng Offcanvas khi không thích sử dụng menu mặc định của Bootstrap
					hr
					h5.text-danger v3.0.1
					dl.row.mt-3
						dt.col-sm-3 Back to top
						dd.col-sm-9 Tính năng cho phép người dùng bật tắt nút cuộn lên đầu trang
					dl.row.mt-3
						dt.col-sm-3 Anchor Link
						dd.col-sm-9 Khi nhấp vào 1 liên kết cùng trang trình duyệt sẽ tự cuộn với tốc độ chỉ định
					dl.row.mt-3
						dt.col-sm-3 Fixed Mobile
						dd.col-sm-9 Khắc phục lỗi mất dấu mũi tên trên select box khi sử dụng trên mobile
					hr
					h5.text-danger v3.0.0 beta 1
					dl.row.mt-3
						dt.col-sm-3 SVG Logo
						dd.col-sm-9 Cho phép sử dụng Logo bằng SVG code, ảnh sẽ không vỡ khi phóng lớn
					dl.row.mt-3
						dt.col-sm-3 Config.js
						dd.col-sm-9 CẤU HÌNH SITE dễ dàng với file config có sẵn
					dl.row.mt-3
						dt.col-sm-3 Multi-Build
						dd.col-sm-9 Có thể dễ dàng switch qua lại giữa nhiều chế độ build như: nén hay không nén files, đường dẫn files trực hay gián tiếp
					hr
					h5.text-danger v2.0.0
					dl.row.mt-3
						dt.col-sm-3 Multi-Build
						dd.col-sm-9 Có thể dễ dàng switch qua lại giữa nhiều chế độ build như: nén hay không nén files, đường dẫn files trực hay gián tiếp
					dl.row.mt-3
						dt.col-sm-3 SEO
						dd.col-sm-9 Tích hợp công cụ Auto SEO mạnh mẽ
					dl.row.mt-3
						dt.col-sm-3 K-SASS-CORE
						dd.col-sm-9 Viết SASS dễ dàng hơn nhanh hơn với bộ công cụ k-sass-core
					hr
					h5.text-danger v1.0.0
					dl.row.mt-3
						dt.col-sm-3 One-Click-Install
						dd.col-sm-9 Cài đặt và nâng cấp hệ thống chỉ với 1 cú click chuột
					dl.row.mt-3
						dt.col-sm-3 Menu Image
						dd.col-sm-9 Có thể bật/tắt Icon cho menu một cách nhanh chóng với file cấu hình
