extends ../_layout/layout

block variables
	- var title = 'Use'
	- var description = 'Description for home page'
	- var bodyclass = 'documents'
	- var selected = 'Use';
	- var href = '';

block body
	section.home
		.container.p-4

			.row
				.col.p-4
					h1.mt-6#sec1 Bootstrap Core
					hr
					h5.text-danger Breakpoint
					dl.row.mt-3
						hr
						dt.col-sm-5 @include media-breakpoint-up(xs) { ... }
						dd.col-sm-7
							.row
								.col-sm-6 +media-breakpoint-up(xs) { ... }
								.col-sm-6 min-width: 575px
					dl.row.mt-3
						hr
						dt.col-sm-5 @include media-breakpoint-down(xs) { ... }
						dd.col-sm-7
							.row
								.col-sm-6 +media-breakpoint-down(xs) { ... }
								.col-sm-6 max-width: 575px
					dl.row.mt-3
						hr
						dt.col-sm-5 @include media-breakpoint-only(sm) { ... }
						dd.col-sm-7
							.row
								.col-sm-6 +media-breakpoint-only(sm) { ... }
								.col-sm-6 min-width: 576px ~ max-width: 767px
					dl.row.mt-3
						hr
						dt.col-sm-5 @include media-breakpoint-between(xs,lg) { ... }
						dd.col-sm-7
							.row
								.col-sm-6 +media-breakpoint-between(xs,lg) { ... }
								.col-sm-6 min-width: 0px ~ max-width: 1199px
					hr
					h5.text-danger Grid system
					p Normal
					.container.demo.mt-3
						.text-xs .container > .row
						.row
							.col-sm
								.bg .col-sm
							.col-sm
								.bg .col-sm
							.col-sm
								.bg .col-sm
					p.mt-3 .no-gutters on .row
					.container.demo.mt-3
						.text-xs .container > .row.no-gutters
						.row.no-gutters
							.col
								.bg .col
							.col-6
								.bg .col-6
							.col
								.bg .col
					p.mt-3 .justify-content
					.container.demo
						.text-xs .container > .row.justify-content-md-center
						.row.justify-content-md-center
							.col.col-lg-3
								.bg .col.col-lg-3
							.col-12.col-md-auto
								.bg .col-md-auto
							.col.col-lg-3
								.bg .col.col-lg-3
					p.mt-3 .align-items-center
					.container.demo.height
						.text-xs .container > .row.align-items-center
						.row.align-items-center
							.col.col-lg-3
								.bg .col.col-lg-3
							.col-12.col-md-auto
								.bg .col-md-auto
							.col.col-lg-3
								.bg .col.col-lg-3
					p.mt-3 .align-items-center.justify-content-center
					.container.demo.height
						.text-xs .container > .row.align-items-center.justify-content-center
						.row.align-items-center.justify-content-center
							.col.col-lg-3
								.bg .col.col-lg-3
							.col-12.col-md-auto
								.bg .col-md-auto
							.col.col-lg-3
								.bg .col.col-lg-3

					hr
					h5.text-danger Table responsive
					p .table.table-responsive
					.container.mt-3
						.row.no-gutters
							.col
								table.table.table-responsive.table-striped.table-bordered
									thead
										tr
											th #
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
											th Table heading
									tbody
										tr
											th(scope='row') 1
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
										tr
											th(scope='row') 2
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
										tr
											th(scope='row') 3
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell
											td Table cell


			.row
				.col
					hr
					h5.text-danger Flexbox
					p Normal
					.text-xs .d-flex.flex-column.flex-lg-row > div
					.d-flex.flex-column.flex-lg-row.demo.mt-3
						div.item
							.bg Items
						div.item
							.bg Items
						div.item
							.bg Items
					p.mt-3 Center
					.text-xs .d-flex.flex-column.flex-lg-row.justify-content-center > div
					.d-flex.flex-column.flex-lg-row.justify-content-center.demo.mt-3.heightflex
						div.item
							.bg Items
						div.item
							.bg Items
						div.item
							.bg Items
					p.mt-3 Stretch
					.text-xs .d-flex.flex-column.flex-lg-row.justify-content-center > .d-flex.align-items-stretch
					.d-flex.flex-column.flex-lg-row.justify-content-center.demo.mt-3.heightflex
						div.item.d-flex.align-items-stretch
							.bg Items
						div.item.d-flex.align-items-stretch
							.bg Items
						div.item.d-flex.align-items-stretch
							.bg Items
					p.mt-3 Stretch
					.text-xs .d-flex.flex-column.flex-lg-row.justify-content-center > .d-flex.align-items-stretch > .d-flex.align-items-center > div
					.d-flex.flex-column.flex-lg-row.justify-content-center.demo.mt-3.heightflex
						div.item.d-flex.align-items-stretch
							.bg.d-flex.align-items-center
								div Items
						div.item.d-flex.align-items-stretch
							.bg.d-flex.align-items-center
								div Items
						div.item.d-flex.align-items-stretch
							.bg.d-flex.align-items-center
								div Items
